.home-bg {
  background-image: url('/assets/visitor/home.png');
  background-size: cover;
  background-color: #70b9be;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh; /* Set height to 100% of the viewport */
  overflow: hidden; /* Prevent scrolling issues */
}

.get-started-btn {
  /* primaryButton */

  /* primaryButton */
  background: linear-gradient(91.78deg, #aedc81 1.21%, #6cc51d 100.55%);
  box-shadow: 0px 10px 9px rgba(108, 197, 29, 0.25);
  border-radius: 5px;
}
@supports (-webkit-touch-callout: none) {
  .home-bg {
    height: -webkit-fill-available; /* Use this for iOS Safari */
  }
}
p {
  margin: 0;
}
