.home-bg {
  background-image: url('../components/home/homeBg.svg');
  background-size: cover;
  background-color: #70b9be;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh; /* Set height to 100% of the viewport */
  overflow: hidden; /* Prevent scrolling issues */
}
@supports (-webkit-touch-callout: none) {
  .home-bg {
    height: -webkit-fill-available; /* Use this for iOS Safari */
  }
}
p {
  margin: 0;
}
